{{template "admin" .}}

{{define "page-title"}}
Calendar of all reservations
{{end}}

{{define "content"}}
{{$now := index .Data "now"}}
{{$rooms := index .Data "rooms"}}
{{$daysIM := index .IntMap "days_in_month" }}
{{$currMonth := index .IntMap "this_month" }}
{{$currYear := index .IntMap "this_month_year" }}

<div class="col-md-12 calendar">
    <div class="text-center">
        <h3>
            {{FormatDate $now "January"}} {{FormatDate $now "2006"}}
        </h3>
    </div>

    <a href="/admin/reservations-calendar?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month" }}" 
        class="btn btn-sm btn-outline-secondary calendar_btn-left">
        &#8592;
    </a>
    <a href="/admin/reservations-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month" }}" 
            class="calendar_btn-right btn btn-sm btn-outline-secondary">
            &#8594;
    </a>

    <form method="post" action="/admin/reservations-calendar" >
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
        <input type="hidden" name="m" value="{{index .StringMap "this_month"}}"/>
        <input type="hidden" name="y" value="{{index .StringMap "this_month_year"}}"/>

    {{range $rooms}}
    {{$roomID := .ID}}
    {{$blocks := index $.Data (printf "block_map_%d" .ID)}}
    {{$reservations := index $.Data (printf "reservation_map_%d" .ID)}}

    <h4 class="mt-4">{{.RoomName}}</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
                <tr class="table-dark">
                    {{range $index := Iterate $daysIM}}
                    <td class="text-center">
                        {{Add $index 1}}
                    </td>
                    {{end}}
                </tr>
                <tr>
                    {{range $index := Iterate $daysIM}}
                    <td class="text-center">
                        {{if gt (index $reservations (printf "%s-%s-%d" $currYear $currMonth (Add $index 1))) 0}}
                            <a href="/admin/reservations/cal/{{index $reservations (printf "$s-$s-$d" $currYear $currMonth (Add $index 1))}}/show?y={{$currYear}}&m={{$currMonth}}">
                                <span class="text-danger">R</span>
                            </a>
                        {{else}}
                            <input type="checkbox"
                                {{if gt (index $blocks (printf "%s-%s-%d" $currYear $currMonth (Add $index 1))) 0}} checked
                                    name="remove_block_{$roomID}_{{printf "%s-%s-%d" $currYear $currMonth}}"
                                    value="{{index $blocks (printf "%s-%s-%d" $currYear $currMonth (Add $index 1))}}" 
                                {{else}}
                                   value="1" name="add_block_{{$roomID}}_{{printf "%s-%s-%d" $currYear $currMonth (Add $index 1)}}" 
                                {{end}}
                            />
                        {{end}}
                    </td>
                    {{end}}
                </tr>
            </table>
        </div>
      {{end}}
      <hr>
      <input type="submit" value="save changes" class="btn btn-primary"/>
     </form>
    </div>
{{end}}

{{define "css"}}
<style>
    .calendar {
        position: relative;
        padding-top: 30px;
    }

    .calendar_btn-left,
    .calendar_btn-right {
        position: absolute;
        top: -10px;
    }
    .calendar_btn-left {
        left: 0;
    }
    .calendar_btn-right {
        right: 0;
    }
</style>
{{end}}