{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="">Search for Available Rooms</h1>
                <form action="/make-reservation" method="GET" id="reservation-form" >
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="startingdate">Starting Date</label>
                                <input type="date" class="form-control" id="startingdate" name="startingdate" aria-describedby="datehelp" required>
                                <small id="datehelp" class="form-text text-muted">Type your starting date.</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="endingdate">Starting Date</label>
                                <input type="date" class="form-control" id="endingdate" name="endingdate" aria-describedby="datehelp2" required>
                                <small id="datehelp2" class="form-text text-muted">Type your ending date.</small>
                            </div>
                        </div>
                    </div>
                    <button id="reservation-submit-btn" type="submit" class="w-100 btn btn-primary">Search for Availabe Rooms</button>
                </form>
                
                <button id="btn" type="submit" class="my-5 btn btn-success">Show Popup</button>

            </div>
        </div>
    </div>



<script>
    
    const startdate = document.querySelector("#startingdate")
    const enddate = document.querySelector("#endingdate")

    document.querySelector("#reservation-form").addEventListener("submit",function(){
        console.log(startdate.value, enddate.value)
    })


   document.querySelector("#btn").addEventListener("click",function(){
        NotifyModal("Error!", "do you want to continue", "success", "confirm")
    })

    const NotifyModal=(title, text,icon,confirmButtonText)=>{
        Swal.fire({
            title,
            text,
            icon,
            confirmButtonText,
        })
    }

</script>

{{end}}