{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="">Search for Available Rooms</h1>
                <form action="/make-reservation" method="GET" >
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="startingdate">Starting Date</label>
                                <input type="date" class="form-control" id="startingdate" name="startingdate" aria-describedby="datehelp" required>
                                <small id="datehelp" class="form-text text-muted">Type your starting date.</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="endingdate">Starting Date</label>
                                <input type="date" class="form-control" id="endingdate" name="endingdate" aria-describedby="datehelp2" required>
                                <small id="datehelp2" class="form-text text-muted">Type your ending date.</small>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="w-100 btn btn-primary">Search for Availabe Rooms</button>
                </form>
            </div>
        </div>
    </div>

{{end}}